.box {
  width: 80%;
  padding: 20px;
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-bottom: 30px;
  border-radius: 20px;
}

body {
  background-color: rgb(207, 202, 255);
}
h1,
h2 {
  font-family: "Bebas Neue", sans-serif;
  color: rgb(26, 7, 50);
}
p,
ol {
  color: rgb(0, 0, 0);
}

.questions {
  margin-bottom: 20px;
  padding: 15px;
  border-left: 5px solid #33106b;
  background-color: #f0e7ff;
  transition: ease-in-out 0.2s;
}

.questions:hover {
  transform: translateY(-2px);
  box-shadow: 0px 5px 15px rgba(90, 103, 216, 0.3);
}
